
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor
@model CandidatesBrowserEngine.Models.ViewModels.CandidateDetailsViewModel

<form asp-action="AddNew" method="post" class="mt-1" enctype="multipart/form-data">


    @*<input />*@
    <button width="30" type="submit" class="btn btn-success ml-3" >Save <i class="fas fa-user-edit"></i> </button>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">

                <div class="col-lg-4 col-md-5">
                    <img class="rounded-circle ml-3" id="profileImage"
                         height="250" width="250" src="~/images/@Model.ProfilePicture">

                </div>
                <label asp-for="ProfileImage" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="ProfileImage" onchange="onCandidatePictureChange()" type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>

            </div>
            <div class="col-lg-8 col-md-5">
                <div class="d-flex flex-column bg-dark text-white p-2">
                    <div class="row pt-1">
                        <label class="col-6 align-right">First Name:</label>
                        <label class="col-6 align-content-end">Last Name:</label>
                    </div>
                    <div class="row pt-1">
                        <div class="col-6">
                            <input asp-for="FirstName" class="form-control" />
                        </div>
                        <div class="col-6">
                            <input asp-for="LastName" class="form-control" />
                        </div>
                    </div>
                    <div class="row pt-2">
                        <label class="col-6 align-right">
                            <i class="fas fa-baby"></i> Date Of Bith:
                        </label>
                        <label class="col-6 align-content-end">
                            <i class="fas fa-envelope"></i> Email:
                        </label>

                    </div>

                    <div class="row pt-1">
                        <div class="col-6">
                            <input asp-for="DateOfBirth" class="form-control" />
                        </div>
                        <div class="col-6">
                            <input asp-for="Email" class="form-control" />
                        </div>
                    </div>
                    <div class="row pt-1">
                        <label class="align-right col-12">
                            <i class="fas fa-user-astronaut"></i> About:
                        </label>
                    </div>
                    <div class="row pt-1">
                        <div class="col-12">
                            <textarea rows="3" asp-for="Description" class="form-control" wrap="soft" maxlength="100"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

  

</form>
<script>
    $(document).ready(function () {
        StartThisSessionTimer();
    });

</script>
