



<header id="home-section">
    <div >
        <div class="home-inner container">
            <div class="row">
                <div class="ml-5 d-lg-block">
                    <h1 class="display-4 text-white text-wrap">
                        Candidates Browser Engine
                    </h1>
                </div>
                </div>
            </div>

      </div>
    
</header>